@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
  }

  body {
    color: #fff;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  html {
    /* Rolagem suave do mouse*/
    scroll-behavior: smooth;
  }
}

/* Criar um estilo personalizado */
@layer utilities {
  .text-gradient {
    background: linear-gradient(
      90deg,
      rgba(84, 59, 247, 1) 26%,
      rgba(224, 61, 61, 1) 64%,
      rgba(252, 133, 69, 1) 94%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
